<div class="container">
    <div class="row">
        <div class="col bg-secondary text-white text-center">
            <h1>header</h1>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-12 bg-info text-center">
            <h1>1</h1>
        </div>
        <div class="col-md-4 col-sm-6 col-12 bg-warning text-center">
            <h1>2</h1>
        </div>
        <div class="col-md-4 col-sm-12 col-12 bg-secondary text-white text-center">
            <h1>3</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-12 bg-danger text-white text-center">
            <h1>footer 1</h1>
        </div>
        <div class="col-md-6 col-sm-12 col-12 bg-dark text-white text-center">
            <h1>footer 2</h1>
        </div>

    </div>

</div>