<div class="container">
    <div class="row">
        <aside class="table-responsive card-body col-md-8 d-md-block d-sm-none d-none">
            <div class="card-header text-white text-center bg-info ">
                <h5 class="card-title"><span class="i-paid"></span> Conversión de divisas</h5>
            </div>
            <table class=" table table-info table-striped shadow">
                <thead>
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col"><img class="bnd-peque" src="assets/recursos/ar.png" alt="Chino">Argentina</th>
                        <th scope="col"><img class="bnd-peque" src="assets/recursos/br.png" alt="Chino">Brasil</th>
                        <th scope="col"><img class="bnd-peque" src="assets/recursos/bo.png" alt="Chino">Bolivia</th>
                        <th scope="col"><img class="bnd-peque" src="assets/recursos/ch.png" alt="Chino">Chile</th>
                    </tr>
                </thead>
                <tbody class="text-center align-middle">
                    <tr>
                        <th scope="row"><img src="assets/recursos/ar.png" alt="Chino">ARS</th>
                        <td>1000</td>
                        <td>41</td>
                        <td>61</td>
                        <td>7200</td>
                    </tr>
                    <tr>
                        <th scope="row"><img src="assets/recursos/br.png" alt="Chino">BRL</th>
                        <td>24580</td>
                        <td>1000</td>
                        <td>1500</td>
                        <td>176600</td>
                    </tr>
                    <tr>
                        <th scope="row"><img src="assets/recursos/bo.png" alt="Chino">BOB</th>
                        <td>16400</td>
                        <td>667</td>
                        <td>1000</td>
                        <td>118000</td>
                    </tr>
                    <tr>
                        <th scope="row"><img src="assets/recursos/ch.png" alt="Chino">CLP</th>
                        <td>139</td>
                        <td>7</td>
                        <td>8,5</td>
                        <td>1000</td>
                    </tr>
                </tbody>
            </table>

        </aside>
        <main class="card-body col-md-4">
            <div class="card-header text-white text-center bg-info">
                <span class="i-paid"></span>
                Coneversión de divisas

            </div>
            <div class="card-body bg-info shadow-lg">
                <form>
                    <div class="row">
                        <label for="txtDe">Cantidad:</label>
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input type="number" class="form-control" aria-label="Cantidad (al dólar más cercano)">

                        </div>
                        <div>
                            <label for="txtDe">De</label>

                            <select class="form-control">
                                <option>Argentina</option>
                                <option>Brasil</option>
                                <option>Bolivia</option>
                                <option>Chile</option>
                            </select>
                        </div>
                        <div>
                            <label for="txtDe">A</label>

                            <select class="form-control">
                                <option>Chile</option>
                                <option>Argentina</option>
                                <option>Brasil</option>
                                <option>Bolivia</option>
                            </select>
                        </div>
                        <label for="txtDe">Son:</label>
                        <div class="input-group">

                            <span class=" input-group-text">$</span>
                            <input type="number" class="form-control" aria-label="Cantidad (al dólar más cercano)">

                        </div>

                        <div class="d-grid">
                            <button type="submit" class="text-white btn btn-warning text-b"><strong><span
                                        class="i-check"></span>
                                    Consultar</strong></button>
                        </div>

                    </div>
                </form>
            </div>
        </main>
    </div>
</div>