<div class="container">
    <main class="d-flex justify-content-center">

        <div class="m-3 border border-5 border-light rounded-3 bg-light;">
            <div class="pantalla">
                <div class="card-body">
                    <div class="bar">
                        <div class="circle"></div>
                        <p class="loading"><strong>Cargando . . .</strong></p>
                    </div>
                </div>

            </div>
            <div class="d-grid border border-5 border-light bg-light rounded-3">
                <a class="text-white btn btn-danger text-b" [routerLink]="['../pelicula']"><strong><span
                            class="i-play"></span>
                        Ver Película</strong></a>
            </div>
        </div>

    </main>
</div>