
.bnd-peque {
    width: 2em;
    margin: 0.5em;
}

.pantalla {
    background: #000000;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 30em;
    height: 16em;
}

.bar {
    position: relative;
    height: 0.125em;
    width: 31em;
    margin: 0 auto;
    margin-top: 6.5em;
}

.circle {
    position: absolute;
    top: -1.25em;
    margin-left: -3.25em;
    height: 3.75em;
    width: 3.75em;
    left: 0;
    background: #fff;
    border-radius: 30%;
    animation: move 5s infinite;
}

.loading {
    position: absolute;
    top: -0.375em;
    text-transform: uppercase;
    color: #000000;
    font-family: helvetica, sans-serif;
    font-weight: bold;
    left: 11.5em;
    bottom: 0.125em;
}

@keyframes move {
    0% {
        left: 0;
    }

    50% {
        left: 100%;
        -webkit-transform: rotate(450deg);
        width: 5em;
        height: 5em;
    }

    75% {
        left: 100%;
        -webkit-transform: rotate(450deg);
        width: 5em;
        height: 5em;
    }

    100% {
        right: 100%;
    }
}