<div class="container bg-dark">

    <div class="row">
        <main class="col-lg-8 col-md-12 col-sm-12">
            <div class="row">
                <div class="card-body text-center text-white">
                    <h3>Estrenos otoño 2022</h3>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 card-body">
                    <div class="card bg-dark text-white border border-danger ">
                        <div class="card-body"><img src="assets/recursos/Deaimon: Recipe for Happiness.jpg"
                                class="card-img-top" alt="poster de Deaimon: Recipe for Happiness"></div>
                        <div class="card-body">
                            <h5 class="card-title">Deaimon: Recipe for Happiness</h5>
                            <p class="card-text">Tras recibir la noticia de que su padre ha
                                caído enfermo y
                                ha tenido que ir al hospital, Nagomu, el hijo pródigo de una
                                familia de confiteros de Kioto, regresa a su hogar tras 10 años para hacerse
                                cargo del negocio familiar.</p>
                        </div>
                        <div class="card-body ">
                            <a [routerLink]="['home']" class="d-grid btn btn-danger"><span class="i-play"></span>
                                Reproducir</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Subido hace 3 minutos</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 card-body">
                    <div class="card bg-dark text-white border border-danger">
                        <div class="card-body"><img src="assets/recursos/Dance Dance Danseur.jpg" class="card-img-top"
                                alt="poster de Dance Dance Danseur"></div>
                        <div class="card-body">
                            <h5 class="card-title">Dance Dance Danseur</h5>
                            <p class="card-text">Junpei es un joven que siempre quiso
                                practicar ballet, pero
                                la vida (y el hecho de ser un chico) se lo impide. Hasta que
                                conoce a Miyako y cambia todo.</p>
                        </div>
                        <div class="card-body ">
                            <a [routerLink]="['home']" class="d-grid btn btn-danger"><span class="i-play"></span>
                                Reproducir</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Subido hace 3 minutos</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 card-body">
                    <div class="card bg-dark text-white border border-danger">
                        <div class="card-body"><img src="assets/recursos/Digimon Ghost Game.jpg" class="card-img-top"
                                alt="poster de Digimon Ghost Game"></div>
                        <div class="card-body">
                            <h5 class="card-title">Digimon Ghost Game</h5>
                            <p class="card-text">Una idea de Jellymon para hacer que los humanos tengan dulces
                                sueños y ganar dinero acaba convirtiéndose en una
                                pesadilla para todos.</p>
                        </div>
                        <div class="card-body ">
                            <a [routerLink]="['home']" class="d-grid btn btn-danger"><span class="i-play"></span>
                                Reproducir</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Subido hace 3 minutos</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 card-body">
                    <div class="card bg-dark text-white border border-danger">
                        <div class="card-body"><img src="assets/recursos/BIRDIE WING -Golf Girls' Story-.jpg"
                                class="card-img-top" alt="poster de BIRDIE WING -Golf Girls' Story-"></div>
                        <div class="card-body">
                            <h5 class="card-title">BIRDIE WING -Golf Girls' Story-</h5>
                            <p class="card-text">Una joven se gana la vida apostando en el
                                golf para ganarse
                                la vida, pero cuando sus poco legales actividades la llevan
                                a un campo de golf de verdad, algo despierta en ella.</p>
                        </div>
                        <div class="card-body ">
                            <a [routerLink]="['home']" class="d-grid btn btn-danger"><span class="i-play"></span>
                                Reproducir</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Subido hace 3 minutos</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 card-body">
                    <div class="card bg-dark text-white border border-danger">
                        <div class="card-body"><img src="assets/recursos/Aoashi.jpg" class="card-img-top"
                                alt="poster de Aoashi"></div>
                        <div class="card-body">
                            <h5 class="card-title">Aoashi</h5>
                            <p class="card-text">Aoi es un chico de instituto que ama el
                                fútbol y sabe que
                                es realmente bueno, pero para él no existen las tácticas ni
                                las formaciones.</p>
                        </div>
                        <div class="card-body ">
                            <a [routerLink]="['home']" class="d-grid btn btn-danger"><span class="i-play"></span>
                                Reproducir</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Subido hace 3 minutos</small>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 card-body">
                    <div class="card bg-dark text-white border border-danger">
                        <div class="card-body"><img src="assets/recursos/Aharen-san wa Hakarenai" class="card-img-top"
                                alt="poster de Aharen-san wa Hakarenai"></div>
                        <div class="card-body">
                            <h5 class="card-title">Aharen-san wa Hakarenai</h5>
                            <p class="card-text">Raido comienza su etapa en el instituto
                                queriendo hacer
                                amigos. Conoce a su compañera Aharen, pero le va a costar
                                acercarse a ella porque no es capaz de escucharla cuando habla.</p>
                        </div>
                        <div class="card-body ">
                            <a [routerLink]="['home']" class="d-grid btn btn-danger"><span class="i-play"></span>
                                Reproducir</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Subido hace 3 minutos</small>
                        </div>
                    </div>
                </div>

            </div>
        </main>
        <aside class="d-lg-block col-lg-4 col-md-none d-sm-none d-none card-body text-white">
            <div class="card bg-dark border border-secundary m-5 p-3">
                <div class="card-body"><img src="assets/recursos/publicidad1.jpg" class="card-img-top"
                        alt="final de Ultraman">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Terser trailer para la temporada final de Ultraman en Netflix</h5>
                    <p class="card-text">La tercera y última temporada del anime CG ULTRAMAN ya está en desarrollo
                        para Netflix, confirmando los planes de
                        estreno para su dramática conclusión en 2023. ¡Clic para ver el teaser trailer y nuevo arte
                        visual!</p>
                    <a [routerLink]="['home']" class="btn btn-secondary"><span class="i-add"></span> Ver más</a>
                </div>
            </div>
            <div class="card bg-dark border border-secundary m-5 p-3">
                <div class="card-body"><img src="assets/recursos/publicidad2.jpg" class="card-img-top"
                        alt="película de Streets Of Rage"></div>
                <div class="card-body">
                    <h5 class="card-title">Productores de Sonic desarrollan película de Streets Of Rage</h5>
                    <p class="card-text">¡A preparar esos puños! Finalmente y tras décadas de ruegos por parte de
                        los fans de esta franquicia de videojuegos de
                        peleas callejeras.</p>
                    <a [routerLink]="['home']" class="btn btn-secondary"><span class="i-add"></span> Ver más</a>
                </div>
            </div>
            <div class="card bg-dark border border-secundary m-5 p-3">
                <div class="card-body"><img src="assets/recursos/publicidad3.png" class="card-img-top" alt="estrenos">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Calendario de estrenos</h5>
                    <p class="card-text">¿Ya estás viendo los animes de la temporada? ¿Comienza a ser complicado
                        saber siempre qué se estrena cada día?</p>
                    <a [routerLink]="['home']" class="btn btn-secondary"><span class="i-add"></span> Ver más</a>
                </div>
            </div>
        </aside>

    </div>


</div>